<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1 class="logo">Moment 2 - ASP.NET Core MVC</h1>
        <nav>
            <ul class="nav-list">
                <li>
                    <a asp-controller="Home" asp-action="Index">Startsidan</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Data">Data</a>
                </li>
                <li>
                    <a asp-controller="Todo" asp-action="Todo">Att göra</a>
                </li>
            </ul>
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        <div>
            &copy; 2024 - MVC - Maria Halvarsson - Kurs: DT191G
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
