<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/twoicon.ico" type="image/x-icon" />
    @* Inkludering av fontawesome ikoner *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <header>
        <div>
            <h1 class="logo">Moment 2</h1>
        </div>
        <i class="fa-solid fa-bars" id="mobile-menu" style="color: white;"></i>
        <nav id="menu">
            <ul class="nav-list">
                <li>
                    <i class="fa-solid fa-house" id="house-icon"></i>
                    <a asp-controller="Home" asp-action="Index">Startsidan</a>
                </li>
                <li>
                    <i class="fa-solid fa-paw"></i>
                    <a asp-controller="Home" asp-action="Data">Mitt husdjur</a>
                </li>
                <li>
                    <i class="fa-solid fa-list" id="list-icon"></i>
                    <a asp-controller="Todo" asp-action="Todo">Att göra</a>
                </li>
            </ul>
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - MVC - Maria Halvarsson - Kurs: DT191G
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
