@{
    ViewData["Title"] = "Startsida";
}


<article>
    <h2>Välkommen!</h2>
    <p>
        På denna webbplats kan du bland annat lägga till saker i en att göra lista vars data sparas i en json fil. 
    </p>
    <p>
        Under "Mitt husdjur" så kan man fylla i ett formulär vars data sedan skrivs ut på skärmen med bland annat ViewBag och ViewData. 
    </p>
</article>