@{
    ViewData["Title"] = "Startsida";
}


<article>
    <h2>Startsidan</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Auctor urna nunc id cursus metus aliquam. Arcu bibendum at varius vel pharetra vel. 
        Diam quam nulla porttitor massa id neque aliquam vestibulum morbi. 
        Tincidunt id aliquet risus feugiat in ante metus dictum at. 
        Ut diam quam nulla porttitor. Tincidunt nunc pulvinar sapien et ligula. 
        Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. 
        Auctor elit sed vulputate mi. Quis risus sed vulputate odio ut enim blandit. 
        Magna fringilla urna porttitor rhoncus dolor purus. 
        Justo donec enim diam vulputate ut pharetra sit amet aliquam. 
        Mus mauris vitae ultricies leo integer.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit sed vulputate mi sit amet mauris commodo quis. Placerat in egestas erat imperdiet. Amet purus gravida quis blandit. Augue neque gravida in fermentum et. Senectus et netus et malesuada fames ac. Id ornare arcu odio ut sem nulla pharetra diam sit. Sed turpis tincidunt id aliquet risus feugiat. At in tellus integer feugiat scelerisque varius morbi enim. Blandit aliquam etiam erat velit scelerisque in dictum. Tellus in metus vulputate eu scelerisque felis. Molestie ac feugiat sed lectus vestibulum.
    </p>
</article>