@model IEnumerable<moment2.Model.Todo>
@{
  ViewData["Title"] = "Att göra";
}

<h2>Att göra</h2>

@* Ikludering av partial *@
<partial name="_ErrorList">

<form action="todo" method="post">
  <input type="text" id="Task" name="Task">
  <br>
  <input type="submit" value="Lägg till">
</form> 

@* Utskrift av att göra listan + kontroll om modellen är tom eller ej *@
@if(Model != null) {
  <ul>
    @foreach (var todo in Model) 
    {
        <li>@todo.Task</li>
    }
  </ul>
}
